
/*******************************************************************************
*************************         RESET          *******************************
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  color: #606060;
  background-color: #fff;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-size: 1.6rrem;
  font-weight: 300;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

/*******************************************************************************
************************         WRAPPERS          *****************************
*******************************************************************************/

.body_wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body_wrapper--body {
  display: flex;
  flex: 1;
}

.body_wrapper--content {
  flex: 1;
}

.body_wrapper--nav {
  /* 15rem is the width of the column */
  flex: 0 0 5rem;
}

.body_wrapper--ads {
  flex: 0 0 5rem;
}

.body_wrapper--nav {
  /* put the nav on the left */
  order: -1;
}

.body_wrapper,
.body_wrapper--body {
  display: flex;
  flex-direction: column;
}

.body_wrapper--nav {
  order: -1;
}

@media (min-width: 768px) {
  .body_wrapper--body {
    flex-direction: row;
    flex: 1;
  }
  .body_wrapper--content {
    flex: 1;
  }
  .body_wrapper--nav {
    /* 15rem is the width of the column */
    flex: 0 0 27rem;
  }
  .body_wrapper--ads {
    flex: 0 0 5rem;
  }
}

/*******************************************************************************
***********************         NAVIGATION          ****************************
*******************************************************************************/

.body_wrapper--nav {
  background-color: #28aadc;
  font-size: 1.6rem;
}

/* logo */
.header_logo {
  width: 152px;
  margin: 50px auto;
}

.link {
  outline: none;
  position: relative;
  color: #166888;
  display: inline-block;
}

.link--logo {
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  line-height: 0.75;
  color: #166888;
  font-size: 3rem;
}

.link--logo:hover {
  color: #16779c;
}

.link--logo::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  top: 84%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--logo:hover::after {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.link--logo::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.4s 0.3s;
  transition: width 0.4s 0.3s;
}

.link--logo:hover::before {
  width: 100%;
}

.nav_primary--items {
  flex-flow: column;
  text-align: center;
}

.nav_primary--link {
  display: inline-block;
  padding: .4rem;
  color: #166888;
}

.nav_primary--link.nav_is_active {
  color: #FFF;
}



/*******************************************************************************
***********************         RETIREMENT          ****************************
*******************************************************************************/
.body_wrapper--content {
  background-color: #e0e9f5;
  overflow: scroll;
}
/*INPUTS*/
.form_container {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  margin-top: 30px;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09rem;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09rem;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}
















